:root {
  --primary: #0079DF;
  --light-blue: #68bff4;
  --font-color: #252638;
  --secondary: #A1C6EA;
  --lighter-blue: #BBD1EA;
  --light-gray: #DAE3E5;
}

html {
  box-sizing: border-box;
  font-family: Open Sans;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  color: var(--font-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  filter: none;
  transition: all .6s;
}
a:hover {
  opacity: .9;
}
a:active {
  transform: translateY(.05em) !important;
}

section {
  position: relative;
}

.-hidden {
  opacity: 0 !important;
}

.-display-n {
  display: none !important;
}


/* MEDIA QUERIES */
@media screen and (max-width: 32rem) {
  body {
    flex-direction: column;
  }
  .-display-n-sm {
    display: none !important;
  }
  #right-side {
    height: 90vh;
  }
  #right-side .__creative-content-container ._btn-display-card {
    margin: .75rem;
  }
  #right-side .__creative-content-container .__social-links {
    margin: 0 .75rem .75rem 0;
  }
  .__creative-content-container .__social-links svg {
    margin: 0 .25rem;
  }
  #right-side .__creative-content-container .__location {
    margin: 1rem;
  }
  #card.-flip {
    transform: translate3d(0, 0, 50px) rotate3d(-1,1,0, 180deg);
  }
  .card-container:not(.-display-n) {
    overflow: hidden;
  }
  .card-container>* {
    transform: rotateZ(90deg);
  }
  #left-side {
    order: 1;
  }
}
@media screen and (min-width: 32rem) {
  .-hidden-md {
    opacity: 0 !important;
  }
  #right-side {
    height: 100vh;
  }
  #right-side .__creative-content-container ._btn-display-card {
    margin: 1.5rem;
  }
  #right-side .__creative-content-container .__social-links {
    margin: 0 1.75rem 1.75rem 0;
  }
  .__creative-content-container .__social-links svg {
    margin: 0 .5rem;
  }
  #right-side .__creative-content-container .__location {
    margin: 2rem;
  }
  #card.-flip {
    transform: translate3d(0, 0, 50px) rotate3d(0,1,0, 180deg);
  }
  #left-side {
    width: 0;
    float: left;
    height: 100vh;
    transition: width 1s ease-in-out;
  }
  #left-side.-open {
    width: 35vw;
  }
  #left-side .__contenainer-about p {
    min-width: calc(35vw - 3rem);
  }
}

@media screen and (max-width: 64rem) {
  :root {
   font-size: 12px;
  }
  .__info-main>a img.ic-drafts {
    top: 0.2rem;
  	right: 0.8rem;
  }
}
@media screen and (min-width: 64rem) {
  #left-side {
    box-shadow: .13rem .13rem .5rem .05rem rgba(0, 0, 0, .25);
    z-index: 3;
  }
  .__info-main>a img.ic-drafts {
    top: 0.45rem;
	  right: .85rem;
  }
}

/* LOCALS */

#left-side {
  background: white;
  overflow-x: hidden;
}
#left-side>* {
  padding: 3rem 1.25rem;
}
#left-side .__contenainer-about {
  display: grid;
}
#left-side .__contenainer-about ._tag {
  color: var(--primary);
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
#left-side .__contenainer-about p {
  padding: 0 0 .25rem .5rem;
}

#left-side .__tech-list-container {
  
}


#right-side {
  color: white;
  flex-grow: 1;
  min-width: 65vw;
  float: right;
  background: linear-gradient(to left top, var(--primary), var(--light-blue));
}
#right-side .__welcome-screen {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: all .5s;
}
#right-side .__welcome-screen.-display {
  animation: fadeIn ease-in;
  animation-duration: .5s;
  animation-delay: .3s;
}
.__welcome-screen  .__container-content {
  margin-top: -3em;
}
.__welcome-screen ._title {
  color: white;
  font-size: 7rem;
}
.__welcome-screen ._subtitle {
  text-transform: uppercase;
  margin: -.5rem .4rem .75rem;
  font-weight: bold;
  color: var(--lighter-blue);
  text-align: right;
}
.__welcome-screen .__container-buttons {
  display: flex;
  justify-content: space-between;
}
.__welcome-screen .__container-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  padding: 0 1rem;
  font-size: .9rem;
  margin: 1.5rem .4rem 0 .5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, .85);
}
.__welcome-screen .__container-buttons ._hide-welcome {
  position: relative;
  border-radius: .13rem;
  border: solid 1px var(--lighter-blue);
  overflow: hidden;
  transition: color .5s;
  transition-delay: .3s;
}
.__welcome-screen .__container-buttons ._hide-welcome>div {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  background-color: white;
  height: 100%;
  width: 100%;
  transition: left 1s;
}
.__welcome-screen .__container-buttons ._hide-welcome:hover {
  color: var(--light-blue);
}
.__welcome-screen .__container-buttons ._hide-welcome:hover>div {
  left: 0;
}
.__welcome-screen .__container-buttons ._btn-display-card {
  position: relative;
  transition: all .4s;
}
.__welcome-screen .__container-buttons ._btn-display-card:hover {
  color: white;
  transform: translateY(0) !important;
}
.__welcome-screen .__container-buttons ._btn-display-card .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(154deg, rgb(175, 175, 175) -250%, rgb(84, 85, 98));
  opacity: .075;
  transition: all .4s;
  border-radius: .13rem;
}
.__welcome-screen .__container-buttons ._btn-display-card:hover .background {
  opacity: 1;
  box-shadow: .1rem .125rem .3rem .025rem rgba(0, 0, 0, .2);
}
.__welcome-screen .__container-buttons ._btn-display-card:active {
  transform: translateY(.05em);
}

#right-side>.__creative-content-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 1s;
}
#right-side .__creative-content-container .__info-main {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadeUp ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 0;
}
.__info-main ._profile-picture {
  width: 10em;
  border-radius: 50%;
  box-shadow: .1rem .1rem .5em .13em rgba(0, 0, 0, .15)
}
.__info-main ._main-description {
  color: white;
  margin: 1.5em 1.5rem .5em ;
  font-weight: 600;
  text-align: center;
    text-shadow: .02rem .02rem .5rem rgba(0, 0, 0, .15);
}
.__info-main ._nice-to-meet {
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--lighter-blue);
}
.__info-main>a {
  position: relative;
  color: rgba(255, 255, 255, .85);
  margin: 2rem 0;
  padding: .5em 1em;
  border-radius: .15rem;
  border: solid .13rem var(--lighter-blue);
  transition: color .5s;
}
.__info-main>a img.ic-mail {
  margin: 0 0 -.15rem 2rem;
}
.__info-main>a img.ic-drafts {
  display: none;
  position: absolute;

}
.__info-main>a:hover img.ic-mail {
  opacity: 0;
}
.__info-main>a:hover img.ic-drafts {
  display: inline-block;
}

#right-side .__creative-content-container ._btn-display-card {
  position: absolute;
  top: 0;
  right: 0;
  text-shadow: .02rem .02rem .5rem rgba(0, 0, 0, .25);
}
._btn-display-card img {
  margin: 0 .5em -.2em;
}
._btn-display-card:hover {
  transform: translateY(.025rem);
}

#right-side .__creative-content-container .__location {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 1.25rem;
  align-self: flex-end;
}

#right-side .__creative-content-container .__social-links {
  position: absolute;
  bottom: 0;
  right: 0;
}
.__creative-content-container .__social-links a {
  position: relative;
  opacity: 0;
}
.__creative-content-container .__social-links a:nth-child(1) {
  animation-delay: 0.4s;
}
.__creative-content-container .__social-links a:nth-child(2) {
  animation-delay: 0.5s;
}
.__creative-content-container .__social-links a:nth-child(3) {
  animation-delay: 0.6s;
}
.__creative-content-container .__social-links a:nth-child(4) {
  animation-delay: .7s;
}
.__creative-content-container .__social-links a:nth-child(5) {
  animation-delay: .8s;
}
.__creative-content-container .__social-links a:nth-child(6) {
  animation-delay: .9s;
}

.__creative-content-container .__social-links span {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  max-width: 0;
  padding: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, .15);
  transition: all .5s, max-width .3s;
}
.__creative-content-container .__social-links a:hover span {
  top: -3.25rem;
  padding: .25rem 1rem;
  max-width: 20rem;
}
.__creative-content-container .__social-links svg {
  width: 2rem;
  height: 2rem;
}



.card-container {
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, .3);
  transition: all 1s;
}
#card ._btn-close {
  position: absolute;
  top: -4rem;
  padding: .5rem 1rem;
  z-index: 2;
  color: white;
  background: rgba(255, 255, 255, .25);
  text-transform: uppercase;
  font-weight: bold;
}
#card:not(.-flip) ._btn-close {
  right: 0;
}
#card.-flip ._btn-close {
  left: 0;
}
.card-container #card {
  position: relative;
  width: 40em;
  height: 20em;
  perspective: 5px;
  transform-style: preserve-3d;
  background-position: center;
  background-size: cover;
  backface-visibility: visible;
  transition: all 1s;
  animation: fadeIn ease-in;
  animation-duration: .5s;
}
#card.-flip .front {
  opacity: 0;
}
#card.-flip .back {
  opacity: 1;
}
#card>div {
  color: white;
  position: absolute;
  top: 0;
  height: 20em;
  width: 40em;
  display: grid;
  backface-visibility: inherit;
  transition-delay: .45s;
  background-image: radial-gradient(circle at top left, #545562 0%, #242647 82%);
}
#card .front {
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
#card .front *:not(._background-logo) {
  z-index: 2;
}
#card .frame {
  position: absolute;
  top: 0;
  left: 0;
  margin: .5rem .75rem;
  width: calc(100% - 1.5rem);
  height: calc(100% - 1rem);
  border: .13rem solid var(--lighter-blue);
}
#card .front ._logo {
  margin: 4rem;
  width: 18.5rem;
}
#card .front ._background-logo {
  position: absolute;
  top: 0;
  right: -1rem;
  z-index: 0;
  height: 100%;
}
#card .front span {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: .75rem 1.5rem;
  color: var(--lighter-blue);
  text-transform: capitalize;
}
#card .back {
  opacity: 0;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
#card .back .frame {
  z-index: -1;
  opacity: .25;
}
#card .back img {
  height: 100%;
  box-shadow: .25rem .25rem .5rem .075rem rgba(0, 0, 0, 0.5);
}
#card .back .__social-info-container {
  color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  text-align: right;
  text-transform: capitalize;
  padding-left: 2rem;
}

#card .back .__social-info-container h3 {
  color: var(--lighter-blue);
  font-size: 1.5rem;
  margin-top: 1rem;
  border-bottom: solid .13rem var(--lighter-blue);
  font-weight: normal;
}
#card .back .__social-info-container h3 span {
  font-weight: bolder;
}
#card .back .__social-info-container p {
  margin: 1rem .125rem .5rem;
}
#card .back .__social-info-container .__social-links {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  height: 100%;
  width: 100%;
}
#card .back .__social-info-container .__social-links a {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  margin: .75rem 0 0 1rem;
  padding-bottom: .05rem;
  transition: background-color .5s;
}
#card .back .__social-info-container .__social-links a:hover {
  background-color: rgba(255, 255, 255, .1);
}
#card .back .__social-info-container .__social-links a span {
  max-width: 60%;
  text-overflow: ellipse;
  margin: 0 .5rem .25rem 0;
}
#card .back .__social-info-container .__social-links a svg {
  height: 2rem;
  width: 2rem;
}
#card .back .__social-info-container .__social-links a.paypal svg {
  height: 1.75rem;
  width: 1.75rem;
  background: var(--light-gray);
  margin: 0 .075rem .13rem 0;
  border-radius: 0.15rem;
  color: var(--font-color);
}



/* animations */

.-fadeUp {
  animation: fadeUp ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
}
@keyframes fadeUp {
  0%   {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
